<a href="https://colab.research.google.com/github/danishjavedcodes/Ml_models_to_Predict_Spam_Email/blob/main/Email_Spam_Filter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/danishjavedcodes/Ml_models_to_Predict_Spam_Email.git
%cd /content/Ml_models_to_Predict_Spam_Email

Cloning into 'Ml_models_to_Predict_Spam_Email'...
remote: Enumerating objects: 25, done.
remote: Counting objects: 100% (25/25), done.
remote: Compressing objects: 100% (25/25), done.
remote: Total 25 (delta 6), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (25/25), 1.85 MiB | 2.79 MiB/s, done.
/content/Ml_models_to_Predict_Spam_Email

Importing Libraries

In [2]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier

**Loading dataset**

In [4]:
import pandas as pd
data = pd.read_csv("/content/Ml_models_to_Predict_Spam_Email/spam_ham_dataset.csv")
data.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

**Preprocessing**

In [5]:
print(data.columns)
# Drop unnecessary columns
data.drop(['Unnamed: 0', 'label_num'], axis=1, inplace=True)
# Convert labels to binary values in label column
data['label'] = data['label'].map({'ham': 0, 'spam': 1})
data.head()

Index(['Unnamed: 0', 'label', 'text', 'label_num'], dtype='object')

   label                                               text
0      0  Subject: enron methanol ; meter # : 988291\r\n...
1      0  Subject: hpl nom for january 9 , 2001\r\n( see...
2      0  Subject: neon retreat\r\nho ho ho , we ' re ar...
3      1  Subject: photoshop , windows , office . cheap ...
4      0  Subject: re : indian springs\r\nthis deal is t...

**Split the dataset** into training and testing sets

In [6]:
X_train, X_test, y_train, y_test = train_test_split(data['text'], data['label'], test_size=0.3, random_state=0)

**Vectorizing data** to train text column in model training

In [7]:
vectorizer = CountVectorizer()
X_train_vect = vectorizer.fit_transform(X_train)
X_test_vect = vectorizer.transform(X_test)

**Training Models:**
1. Gaussian Naive Bayes
2. Multinomial Naive Bayes
3. J48 Dicision Tree

In [8]:
GNB = GaussianNB() #Gaussian Naive Bayes
MNB = MultinomialNB() #Multinomial Naive Bayes
J48 = DecisionTreeClassifier() #J48 Decision Tree

In [9]:
models = {"Gaussian Naive Bayes" : GNB, "Multinomial Naive Bayes" : MNB, "J48 Decision Tree" : J48} #Dictionary containing models

Function to check followings
1. Predictions

2. Accuracay

3. Confusion Matrix

In [10]:
def model_results(model):
  model.fit(X_train_vect.toarray(), y_train)
  y_pred = model.predict(X_test_vect.toarray())
  accuracy = accuracy_score(y_test, y_pred)
  print('Accuracy:', accuracy)
  cm = confusion_matrix(y_test, y_pred)
  print("Confusion Matrix: \n", cm)

Loop to check **Models Results** one by one

In [11]:
for i in models:
  print(i, "Results:")
  model_results(models[i])
  print("----"*10)

Gaussian Naive Bayes Results:
Accuracy: 0.958118556701031
Confusion Matrix:
 [[1107   21]
 [  44  380]]
----------------------------------------
Multinomial Naive Bayes Results:
Accuracy: 0.9774484536082474
Confusion Matrix:
 [[1115   13]
 [  22  402]]
----------------------------------------
J48 Decision Tree Results:
Accuracy: 0.9394329896907216
Confusion Matrix:
 [[1082   46]
 [  48  376]]
----------------------------------------